.weatherTable.container{
    padding-top: 5%;
}
.slider.container{
    text-align: center;
    padding: 0 2% 30px 2%;
}
tr {
    font-size: 4vw;
}
div.slider-div{
    padding-top: 6px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
@media screen and (min-width: 992px) {
    tr {
        font-size: 2.2rem;
    }
    br {
        display: none;
    }
}
@media screen and (min-width: 576px) {
    tr {
        font-size: 1.4rem;
    }
}
