img {
    padding-bottom: 1.4%;
    width: 15%;
    max-width: 40px;
    height: auto;
}
p {
    font-size: 20px;
}
p:first-letter {
    text-transform:capitalize;
}
.weatherDisplay.jumbotron{
    text-align: center;
    height: auto;
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.row{
    margin: 0 !important;
}
.col, .col-lg-8{
    padding: 0 !important;
}
.right{
    border-radius: 5px;
    background-color: #dadde0;
    max-width: 300px !important;
    margin: auto !important;
}
.currentWeather{
    max-height: 400px !important;
}
.dailyBlock{
    margin: 16px;
}
.dailyBlock > p img{
    padding-bottom: 2.5%;
}
.info {
    font-size: 8vw;
    margin-bottom: 0;
}
.description {
    margin-bottom: 12px;
}
.weatherDisplay.container{
    padding: 5%;
}
@media screen and (min-width: 442px) {
    .description {
        font-size: 2.2rem;
    }
}
@media screen and (min-width: 500px) {
    .info {
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 576px) {
    .jumbotron{
        padding: 2rem 2rem !important;
    }
}
@media screen and (min-width: 992px) {
    .weatherDisplay.container {
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .weatherDisplay.jumbotron{
        text-align: center;
        height: auto;
        margin-top: auto !important;
        margin-bottom: auto !important;
        min-height: 380px;
    }
    .right {
        margin-top: 0;
    }
    img {
        padding-bottom: 0.7%;
    }
}
