.row{
    margin: 0 !important;
}
.col, .col-lg-8{
    padding: 0 !important;
}
.right{
    border-radius: 5px;
    background-color: #dadde0;
    max-width: 300px !important;
    margin: auto !important;
}
img {
    padding-bottom: 1.4%;
    width: 15%;
    max-width: 40px;
    height: auto;
}
.currentWeather{
    max-height: 400px !important;
}
.dailyBlock{
    margin: 16px;
}
.dailyBlock > p img{
    padding-bottom: 2.5%;
}
.info {
    font-size: 8vw;
    margin-bottom: 0;
}
.description {
    margin-bottom: 12px;
}
p {
    font-size: 20px;
}
p:first-letter {
    text-transform:capitalize;
}
@media screen and (min-width: 500px) {
    .info {
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 442px) {
    .description {
        font-size: 2.2rem;
    }
}
@media screen and (min-width: 992px) {
    .right {
        margin-top: 0;
    }
    img {
        padding-bottom: 0.7%;
    }
}
