.row{
    margin: 0 !important;
}
.col, .col-lg-8{
    padding: 0 !important;
}
.right{
    border-radius: 5px;
    background-color: #dadde0;
    margin-right: 0 !important;

}
.jumbotron{
    text-align: center;
    padding: 1rem 1rem !important;
}
.mt-auto {
    padding-top: 1rem;
}
@media screen and (min-width: 576px) {
    .jumbotron{
        padding: 2rem 2rem !important;
    }
    .mt-auto {
        padding-top: 10%;
    }
}
@media screen and (min-width: 992px) {
    .right {
        margin-top: 0;
    }
}
