.jumbotron{
    text-align: center;
    height: auto;
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.single{
    position: relative;

}
.mt-auto{
    padding-top: 5%;
}
@media screen and (min-width: 576px) {
    .jumbotron{
        padding: 2rem 2rem !important;
    }
}
@media screen and (min-width: 992px) {
    .jumbotron{
        text-align: center;
        height: auto;
        margin-top: auto !important;
        margin-bottom: auto !important;
        min-height: 372.5px;
    }
    .mt-auto {
        padding-top: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    .single{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
