.weatherTable.container{
    padding: 5%;
}
.slider.container{
    padding: 25px;
}
tr {
    font-size: 4vw;
}
@media screen and (min-width: 992px) {
    tr {
        font-size: 2.2rem;
    }
}
@media screen and (min-width: 576px) {
    tr {
        font-size: 1.4rem;
    }
}
