.weatherTable.container{
    padding-top: 5%;
}
.slider.container{
    text-align: center;
    padding: 0 5vw 15px 5vw;
}
tr {
    font-size: 4vw;
}
@media screen and (min-width: 992px) {
    tr {
        font-size: 2.2rem;
    }
    br {
        display: none;
    }
}
@media screen and (min-width: 576px) {
    tr {
        font-size: 1.4rem;
    }
}
